// Colors

$evm-grau-80: #565655;
$evm-grau-60: #868786;
$evm-grau-40: #b1b2b3;
$evm-grau-15: #e3e3e3;

$evm-orange-l: #ec6504;
$evm-orange-m: #f39100;
$evm-orange-r: #fbb900;

$evm-gruen-1: #74b841;
$evm-gruen-2: #adcd60;

$evm-blau-1: #00a8e7;
$evm-blau-2: #a2d8e6;

$white: #fff;

$lightbulbHue: #fefebf;
$lightbulbColor1: desaturate($lightbulbHue, 70);
$lightbulbColor2: $lightbulbHue;