$button-size: 6em;

/* Reset `button` and button-style `input` default styles */
button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.game-buttons {
  position: relative;
  padding: 1em 0;

  nav {
    @extend %navigation;
    @extend %center;
    max-width: 300px;
  }

  button {
    @extend %reset;
    @extend %box-shadow;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    z-index: auto;
    //z-index: 50;
    border-radius: 50%;


    &::before {
      @extend %reset;
      display: block;
      position: absolute;
      right: 20%;
      top: 20%;
      z-index: 200;
      pointer-events: none;
      width: 100%;
      height: 100%;
      content: url(../img/evm-v.svg);
    }

    &::after {
      @extend %reset;
      border-radius: 50%;
      display: block;
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $evm-orange-m;
    }
  }

  li {
    z-index: auto;

    button {
      z-index: 1;
    }

    &:first-child {
      button {
        left: 2vw;

        &::before {
          content: url(../img/evm-e.svg);
        }

        &::after {
          background-color: $evm-orange-l;
        }
      }
    }

    &:last-child {


      button {
        left: -2vw;

        &::before {
          content: url(../img/evm-m.svg);
        }

        &::after {
          background-color: $evm-orange-r;
        }
      }
    }
  }

}